li.NavItem a {
  display: inline-block;
  padding: 0.71rem 1rem;
  color: #fff;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
}

li.NavItem a:hover,
li.NavItem a:active {
  background-color: #8f5c2c;
  border-bottom: 4px solid blue;
  color: #fff;
}

.active {
  background-color: #8f5c2c !important;
  border-bottom: 4px solid blue !important;
  color: #fff !important;
}

@media (max-width: 500px) {
  li.NavItem a {
    color: #8f5c2c;
    padding: 1.3rem 0;
  }

  li.NavItem a:hover,
  li.NavItem a:active,
  li.NavItem a.active {
    background-color: #fff;
    color: #8f5c2c;
  }
}
